* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

[v-cloak] {
  display: none;
}

body {
  font-family: Muller;
  font-size: 14px;
  background: white;
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.no-scroll {
  overflow-y:hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
